
    
.bg-gradient-warning {
    background-image: linear-gradient(310deg, #f53939 0%, #fbcf33 100%);
}

.bg-gradient-danger {
    background-image: linear-gradient(310deg, #ea0606 0%, #ff667c 100%);
}

.badge {
    text-transform: uppercase;
}

.badge {
    display: inline-block;
    padding: 0.55em 0.9em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.45rem;
}

.badge:hover{
    color: #344767;;
}

